html {
    scroll-behavior: smooth;
    scroll-behavior: auto;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins, sans-serif; 
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1f242d;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
    transition: 0.3s;
    display: inline-block;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content p {
    font-size: 16px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.home-img {
    background-color: transparent;
}

.home-img {
    max-width: 450px;
    margin-right: -50px;
    text-shadow:  0 0 100px #0ef;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.5s, 3s;
}

.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50px;
    color: #0ef;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 30px 15px 30px 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
    transition: 0.3s;
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-flex;
    padding: 12px 20px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background: #1f242d;
    color: #0ef;
}

.bx-code-alt {
    font-size: 250px;
    color: #0ef;
    /* box-shadow: 0 0 20px #0ef; */
    background: transparent;
}

/* .img {
    float: right;
} */

/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.about-container {
    max-width: 90%;
    margin: 15% 10%;
    justify-content: space-evenly;
    display: flex;
    position: relative;
    height: 100%;
}

.text-zone {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}

.text-zone p {
    gap: 15px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.text-zone h1 {
    margin-bottom: 15px;
}

.stage-cube-cont {
    width: 50%;
    /* height: 100%; */
    margin-left: 20%;
    overflow: hidden;
    background: transparent;
    position: relative;
}

.face4 {
    color: #5ed4f4;
    transform: translateZ(100px) rotateY(90deg) rotateX(180deg);
}

.face2 {
    color: #efd81d;
    transform: translateZ(100px) rotateY(90deg);
}

.face5 {
    color: #ec482e;
    transform: translateZ(100px) rotateY(-90deg) rotateZ(90deg);
}

.face1 {
    color: #764abc;
    transform: translateZ(100px);
}

.face3 {
    color: #ffa611;
    transform: translateZ(100px) rotateY(90deg) rotateX(90deg);
}

.face6 {
    color: #5ed4f4;
    transform: translateZ(100px) rotateY(-90deg);
}

.icon {
    padding-top: 20px;
}

.spinner div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 120px;
    font-size: 150px;
    margin-left: 20px;
}

.spinner .face1 {
    -webkit-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
}

.spinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
}

.spinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}

.spinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}

.spinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.spinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px);
}

.spinner {
    -webkit-animation: spincube 12s ease-in-out infinite;
    animation: spincube 12s ease-in-out infinite;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
    margin-left: 60px;
    margin-top: 60px;
}

@-webkit-keyframes spincube {
    16% {
        -webkit-transform: rotateY(-90deg);
    }

    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        -webkit-transform: rotateY(180deg) rotateZ(90deg);
    }

    66% {
        -webkit-transform: rotateY(90deg) rotateX(90deg);
    }

    83% {
        -webkit-transform: rotateX(90deg);
    }
}

@keyframes spincube {
    16% {
        -ms-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    33% {
        -ms-transform: rotateY(-90deg) rotateZ(90deg);
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        -ms-transform: rotateY(180deg) rotateZ(90deg);
        transform: rotateY(180deg) rotateZ(90deg);
    }

    66% {
        -ms-transform: rotateY(90deg) rotateX(90deg);
        transform: rotateY(90deg) rotateX(90deg);
    }

    83% {
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.projects {
    max-width: 90%;
    margin: 15% 10%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 20px;
    transition: transform 450ms ease-in-out;
}

.project-pic {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.project-title {
    padding: 10px 0;
}

.project-container {
    background-color: transparent;
    border-radius: 11px;
    box-shadow: 0 3px 10px #0ef;
    padding: 20px;
    margin: 10px;
    width: 250px;
    margin-bottom: 20px;
}

.project-container:hover {
    transform: scale(1.1);
}

.project-details {
    letter-spacing: 0.8px;
}

.btn2 {
    display: inline-flex;
    padding: 6px 10px;
    background: #1f242d;
    box-shadow: 0 0 10px #0ef;
    border-radius: 40px;
    font-size: 10px;
    color: #0ef;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn2:hover {
    background: #0ef;
    color: #1f242d;
}

.project-link {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.project-link a {
   margin: 0 10px; 
}

.contact {
    max-width: 90%;
    margin: 15% 10%;
}

.contact p {
    gap: 10px;
    margin: 20px 0;
    letter-spacing: 1px;
}

.contact-form ul, li {
    padding: 0;
    margin: 0;
}

.contact-form li {
    list-style: none;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    position: relative;
}

.contact ul>li {
    margin-bottom: 15px;
}

.half {
    width: 49%;
    margin-left: 2%;
    float: left;
}